.sidebar {
    color: white;

    padding: 25px;
    box-sizing: border-box;

    &__logo {
        font-size: 30px;
        font-weight: bold;

        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 20px 0;
        box-sizing: border-box;

        &__item {
            width: 100%;

            display: flex;
            align-items: center;
            gap: 20px;
            
            color: gray;
            text-decoration: none;

            transition: color 0.5s ease-in-out;
            .icon {
                font-size: 25px;
                opacity: 0.5;
            }

            &:hover {
                color: white;
            }
        }

        &__item.active {
            color: white;

            .icon {
                opacity: 1;
            }
        }
    }
}